/*
*{
    margin: 0;
    padding: 0;
}
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243,243,243);
    font-size: 13pt;
    /*margin: 20px;*/
}
.main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 1em;
}
.main-header img{
    margin-left: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,1);
    transition: 1s;
}
.main-header img:hover{
    box-shadow: none;
    box-shadow: none;
}
p{
    text-indent: 15px;
    margin: 0;
}
#main-list{
    border-radius: 15px;
    border: 1px solid;
    margin: 25px;
    padding: 15px;
    transition: .5s;
    box-shadow: 2px 2px 5px rgba(0,0,0,1);
}
#main-list:hover{
    background-color: rgba(0,0,0,.1);
    box-shadow: none;
}
#main-list a{
    text-decoration: none;
    color: black;
    padding: 3px 6px;
    border-radius: 5px;
    transition: .5s;
    background-color: rgba(0,0,0,.1);
    line-height: 23pt;
}
#main-list a:hover{
    padding: 6px 12px;
    font-weight: bold;
}
#main-list:hover a{
    background-color: rgb(243,243,243);
    box-shadow: 2px 2px 5px rgba(0,0,0,1);
}
#main-list span{
    /* font-weight: bold;*/
    color: red;
    /*font-style: italic;*/
    font-family: 'Courier New', Courier, monospace;
}
header{
    margin-bottom: 25px;
}
header h2{
    margin: 0;
    padding: 0;
}
small{
    font-style: italic;
}
.centralizado{
    text-align: center;
}
li{
    padding: 2px;
    margin-left: 40px;
}
/*Formatações para Footer*/
footer{
    margin: 0 10px;
    padding: 20px 0px;
    font-size: 11pt;
}
footer a{
    text-decoration: none;
    color: black;
    padding: 3px 6px;
    border-radius: 5px;
    transition: .2s;
    background-color: rgba(0,0,0,.1);
}
footer:hover a{
    box-shadow: 2px 2px 5px rgba(0,0,0,1);
}
/*Formatações para Responsividade*/
@media(max-width:600px)
{
    .main-header img{
        width: 150px;
    }
}
@media(min-width:950px){
    body{
        width: 95%;
        margin: auto;
    }
}
@media(max-width:450px){
    .main-header{
        flex-direction: column;
    }
    .main-header img{
        width: 100px;
        margin-left: 0px;
    }
    .main-header h1{
        font-size: 20pt;
    }
}